.main {
    padding: 30px 0;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-family: sans-serif;
            font-size: clamp(2.188rem, 1.915rem + 1.36vw, 2.938rem);
            font-weight: 400;
        }

        p {
            font-family: sans-serif;
            font-size: 18px;
            line-height: 21.83px;
            text-align: left;

        }
    }

    &__lang {
        font-family: sans-serif;
        font-size: 16px;
        line-height: 19.81px;
        text-align: left;
        transform: rotate(270deg);

        span {
            color: #828282;
        }
    }

    &__photo {
        img {
            width: 100%;
        }
    }
}